#wrapper{
	background-color:white;
	width: 970px;
}

#wrapper2{
	background-color:white;
	width: 970px;
}

#wrapper3{
	background-color:white;
	width: 970px;
}
#header{
    color:#4A4A4A;
	background:white;
    display:inline-block;
    margin: 30px 500px -200px 0px;
    vertical-align: top;
    padding: 0px 0px 0px 0px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

h3{
    color:white;
	background:linear-gradient(rgba(29, 114, 159, 0.884),#4685A9,#1D719F);
    margin: -20px 0px 0px 0px;
    padding: 12px 0px 12px 0px;
    text-indent: 25px;
    font-size: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

h4{
    color:rgb(21, 101, 148);
    font-size: 18px;
    text-align: top left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

#left_nav{
    color:black;
    background:linear-gradient(45deg,#E5E5E5, white, white);
    display:inline-block;
    margin: 0px 2px 2px 2px;
    vertical-align: top;
    padding: 2px 2px 2px 2px;
    width:200px;
	height:600px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;

}

.button {
    background-color: #2E7EAC;
    border: none;        
    border-radius: 5px;
    color: white;
    box-shadow: 3px 3px 5px grey;
    margin: 20px 0px 0px 5px;
    padding: 10px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:light;
}

.button1 {
    background-color: #F87817;
    border: none;
    border-radius: 5px;
    color: white;
    box-shadow: 3px 3px 5px grey;
    margin: 3px 0px 15px 5px;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:light;
}

.button2 {
    background-color: #00C6DD;
    border-style: solid;
    border-color:black;
    border-width: 1px;
    border-radius: 5px;
    color: white;
    box-shadow: 3px 3px 3px black;
    margin: 3px 0px 15px 5px;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:light;
}

#adspace{
    width: 200px;
    height: 300px;
    position: relative;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
    color:white;
    text-align:center;
	background:white;
    display:inline-block;
    margin: 15px 0px 0px 0px;
    vertical-align: top;
    padding: 0px 0px 0px 0px;
    background-image:url(images/ad_background.png); 
}

#maincontent{
    width: 740px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
    color:black;
	background:white;
    display:inline-block;
    margin: 10px 0px 0px -7px;
    vertical-align: top;
    padding: 0px 0px 0px 25px;

}

.cs{
    margin: 0px 0px 0px 225px;
}

.ul1{
    list-style-type: disc;
    margin: 5px 0px 10px 30px;
    padding: 5px 0px 10px 20px;
       
}

.ol1{
    margin: 5px 0px 10px 30px;
    padding: 5px 0px 10px 20px;
    text-align:left;
       
}

#mainimg{
    width: 740px; 
    height: 100px;  

}

#centerImage{
    width: 740px; 
    height: 100px; 
    text-align:center; 

}

#bottomAd{
    width: 130px; 
    height: 130px;
    border-style: solid;
    border-color:#4685A9;
    border-width: 4px 0px 4px 4px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
    color:black;
    background:white;
    box-shadow: 3px 3px 5px grey;
    display:inline-block;
    margin: 15px 0px 0px 250px;
    vertical-align: top;
    padding: 10px 0px 0px 10px;
}

#bottomAdText{
    width: 550px; 
    border-style: solid;
    border-color:#4685A9;
    border-width: 4px 4px 4px 0px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
    color:black;
    background:white;
    box-shadow: 3px 3px 5px grey;
    display:inline-block;
    margin: -148px 0px 0px 390px;
    vertical-align: top;
    padding: 0px 0px 41px 50px;
}